version: '3.8'
services: 
    traefik:
      user: root
      image: "traefik:latest"
      container_name: "Serve"
      ports:
        # The HTTP port
        - "80:80"
        - "443:443"
        # The Web UI (enabled by --api.insecure=true) http://localhost:8080/api/rawdata = API
        - "8080:8080"
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock"
        #- ./config/traefik:/etc/traefik
        #- "/usr/local/certs:/etc/certs"
      labels:
        - "traefik.http.routers.traefik.rule=Host(`traefik`)"
        - "traefik.http.routers.traefik.rule=Host(`traefik.docker.localhost`)"
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"
    mongodb:
      image: mongo:5.0.2
      restart: unless-stopped
      env_file: ./.env
      environment:
        - MONGO_INITDB_ROOT_USERNAME=$MONGODB_USER
        - MONGO_INITDB_ROOT_PASSWORD=$MONGODB_PASSWORD
      ports:
        - $MONGODB_LOCAL_PORT:$MONGODB_DOCKER_PORT
      volumes:
        - db:/data/db
    app:
      depends_on:
        - mongodb
        - traefik
      build: ./
      restart: unless-stopped
      env_file: ./.env
      ports:
        - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
      environment:
        - DB_HOST=mongodb
        - DB_USER=$MONGODB_USER
        - DB_PASSWORD=$MONGODB_PASSWORD
        - DB_NAME=$MONGODB_DATABASE
        - DB_PORT=$MONGODB_DOCKER_PORT
      stdin_open: true
      tty: true
volumes:
     db: